
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#101010 0%, #424141 100%);

}

.table-view .column-header-background .label{
    -fx-text-fill: gray;
       -fx-padding: 15 0 15 0;
}


.table-view .table-cell{
       -fx-alignment: center;
       -fx-font-size: 14px;
       -fx-text-fill: black;
}
